{% extends 'base.html' %}
{% load static %}
{% block title %}Create a Booking{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="text-center">
    <h1 class="text-center mx-auto titles my-3" id="review">Post a Review</h1>
    <p class=" post lead mb-3 text-center">Leaving a review of your experience might help others to see where therapy could help for them</p>
    <p><small>* All fields are required</small></p>
    <form method="post" class="text-center w-75 mx-auto booking-section">
        {% csrf_token %}
        <div class="row">
            <div class="col m-4 mb-5">
                <h4 class="text-center mb-3">Details</h4>
             
                 
                    {{ form.booking|as_crispy_field|safe }}
                    {{ form.service|as_crispy_field|safe }}
                    {{ form.created_on|as_crispy_field|safe}}
                    {{ form.rating|as_crispy_field|safe}}
                    {{ form.text |as_crispy_field|safe}}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-custom d-block w-25 mx-auto mb-4">Save</button>
    </form>
</div>




{% endblock %}

