{% extends 'base.html' %}
{% load static %}
{% block title %}Reviews{% endblock %}
{% block content %}

<div class="container my-4 text-center">
    <div class="row align-items-center">
        <div class="col-md-6 offset-md-3">
            <h1 class="section-title mb-4" id="auth">Reviews</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center mx-auto">
        <!-- Reviews entered col -->
        <div class="col-12 mt-3">
            <!-- Display text when no articles present, control grid sizing when pagination occurs leaving 1review on next page -->
            <div class="row justify-content-center">
                {% if reviews|length == 0 %}
                <div class="col-12 text-center">
                    <p class="section-p">No reviews found.</p>
                    <div class="mb-3 mx-auto text-center">
                        <a href="{% url 'reviews' %}" class="btn btn-custom my-3">Back to Reviews</a>
                    </div>
                </div>
                {% else %}
                {% for review in reviews %}
                <div class="col-12 col-sm-6 col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-author">{{ review.author }}</h5>
                            <p class="card-created-on">{{ review.created_on }}</p>
                            <p class="card-service"><strong>service:</strong> {{ review.service}}</p>
                            <p class="card-text">{{ review.text }}</p>
                            <div class="rating">
                              {% if review.rating == 1 %}
                                    <span>&#x2605;</span>
                                {% else %}
                                    {% for star in review.full_stars %}
                                        <span>&#x2605;</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                          
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}