<!--
{% extends 'base.html' %}

{% load static %}

{% block title %}Contact Form{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="text-center mx-auto section-title my-3" id="booking">Contact Form</h1>
        <form method="post" class="text-center w-75 mx-auto contact-section">
            {% csrf_token %}
             {{ form.as_p }}
            <button class="btn btn-secondary" type="submit">Submit</button>
        </form>
    </div>

    <div class="message-box">
        {% for message in messages %}
            {{ message|safe }}
        {% endfor %}
    </div>
{% endblock %}
-->
