{% extends "../base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container text-center lead mb-3 title-login">
  <h1 class="titles mb-3">{% trans "Sign Out" %}</h1>

  <p>{% trans 'Are you sure you want to sign out?' %}</p>
  <p>{% trans ' No problem, see you soon!' %}</p>
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button type="submit" class="btn btn-outline-custom w-25">{% trans 'Sign Out' %}</button>
  </form>
</div>

{% endblock %}