{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- Main content -->

<div class="hero-image"></div>
    <div class="bio">
        <br>
        <h2 class="text-center">Welcome!</h2>
        <h3 class="text-center">
            My name is Elvira Espinoza Ahumada, the psychologist behind ""Psychology on the Road""</h3> 
         <h3 class="text-center"> 
            My objective focuses on three aspects; offer you a safe and compassionate space where you can explore your emotions and heal all your wounds, 
            also provide you with support during emigration processes and finally, overcome the loss of a child during pregnancy, 
            an experience that I have personally faced. I am here to accompany you on your path to emotional well-being and personal growth, 
            wherever you are in the world.</h3>
    </div>


    <div class="container-fluid">
        <div>
            {% if not user.is_authenticated %}
            <p class="text-center m-3 signup"><a href="{% url 'services' %}" class="btn btn-custom p-2 px-4 mb-4">Read more about me!</a></p>
            {% endif %}
        </div>
    </div>



{% endblock %}