@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /** Fonts */
    --title: 'EB Garamond', serif;
    --main-font: 'Roboto', serif;

    /* Colours */
    --background: #3f006a0f;
    --blue: #0d6efd;
    --black: #000;
    --off-white: #f6f6f6;
    --white: #fff;
    --orange: #ffbf50;

    /* Utils */
    --smal-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #00000030;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}

/* Footer */
footer {
    flex-shrink: 0;
    background-color: var(--off-white);
    display: flex;
    flex-direction: column; /* Stack the sections vertically */
    align-items: center;
    padding: 10px; /* Adjust padding as needed */
    border-top: var(--border);
}

#contact-container-elements,
#info-container-elements {
    margin-bottom: 2px; /* Adjust as needed */
}


.center-form form {
    margin-bottom: 0; /* Remove default form margin */
}

.contact-label {
    margin-left: 10px; /* Adjust as needed */
    margin-top: 30px;
   
}



.contact-text {
    margin-left: 5px; /* Adjust as needed */
   
}

.social-icons-row {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.social-icon {
    height: 1.5rem;
    margin: 0 1rem;
}

.copyright-section {
    margin-top: 10px; /* Adjust margin as needed */
}
/* Header */
.navbar {
    background-color: var(--off-white);
    box-shadow: var(--smal-box-shadow);
}

a.nav-link {
    color: var(--black);
}

img.logo {
    width: 5rem;
}

.active {
    border-bottom: 2px solid var(--blue);
    font-weight: 500;
}

