

{% extends "base.html" %}
{% load static %}
{% block title %}Bookings{% endblock %}

{% block content %}
<div class="container my-4 text-center">
    <div class="row align-items-center">
        <div class="col-md-6 offset-md-3">
            <h2 class="section-title mb-3" id="booking">Your appointments</h2>
            <div class="appointment">
            <hr style="background-color: black">
        </div>
        </div>

       
           
    {% if request.user.bookings.all %}
    <div class="table-responsive my-4 w-75 mx-auto">
        <table class="table table-striped">
            <thead>
                <tr style="background-color: rgba(255, 192, 203, .7);">
                    <th>Booking Date</th>
                    <th>Booking Time</th>
                    <th>Notes</th>
                    <th>Edit/Delete Booking</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in request.user.bookings.all %}
                <tr style="background-color: rgba(255, 192, 203, .5);">
                    <td>{{ booking.date|safe }}</td>
                    <td>{{ booking.time|safe}}</td>
                    <td>{{ booking.notes|safe }}</td>
                    <td>{% if request.user == booking.user %}
                        <div class="text-center">
                            <!-- edit/delete icon display -->
                            <div class="d-flex justify-content-center justify-content-md-start">
                                <div class="col">
                                    <a href="{% url 'edit_booking' booking.id %}" class="btn btn-link"
                                        title="Edit Booking">Edit</a>
                                </div>
                                <div class="col">
                                    <a href="{% url 'delete_booking' booking.id %}" class="btn btn-link"
                                        title="Delete Booking">Delete</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <a href="{% url 'booking_add' %}" class="my-4" title="Make a Booking">Book a new Appointment</a>
    </div>
    {% endif %}
    {% endblock %}