{% extends 'base.html' %}

{% load static %}

{% block title %}Edit a Booking{% endblock %}

{% block content %}

{% load crispy_forms_tags %}
<div class="text-center">
    <h1 class="text-center mx-auto section-title my-3" id="booking">Edit Booking</h1>
    <form method="post" class="text-center w-75 mx-auto booking-section">
        {% csrf_token %}
        <div class="row mx-auto">
      
            <div class="col m-4">
                <h4 class="text-center mb-3">Your Details</h4>
                {{ form.first_name|as_crispy_field|safe }}
                {{ form.last_name|as_crispy_field|safe }}
                {{ form.email|as_crispy_field|safe }}
                
            </div>
            <div class="col m-4">
                <h4 class="text-center mb-3">Choose Date & Time</h4>
                {{ form.date|as_crispy_field|safe }}
                {{ form.time|as_crispy_field|safe }}
            </div>
           
            </div>
        </div>
        <button type="submit" class="btn btn-custom w-50 mb-2 align-self-center">Save</button>
    </form>
</div>



<div>
    <a href="{% url 'bookings' %}" class="btn btn-outline-custom w-50 mb-2 align-self-center" title="Make a Booking">My appointments</a>
</div>
{% endblock %}