{% load static %}
{% load crispy_forms_tags %}

<footer>

    <section class="container-fluid" id="contact-container">
        <div class="row">
            <div class="col-12 col-md-6 text-center" id="contact-container-elements">
                <h3 class="contact-heading text-center">Contact Info</h3>
                <div class="contact-info">
                    <div class="text-box">
                        <p class="contact-label"><i class="fas fa-map-marker-alt pink-icon"></i> <span class="contact-text">18 The Fairways, Bracken Ct, Donnybrook, Cork, T12 P7YY</span></p>
                </div>
                <div class="text-box">
                    <p class="contact-label"><i class="far fa-envelope pink-icon"></i> <span class="contact-text">elviraespinoza.contact@gmail.com</span></p>
                </div>
                <div class="text-box">
                    <p class="contact-label"><i class="fas fa-phone-alt pink-icon"></i> <span class="contact-text">+569 2222222</span></p>
                    </div>
                    
                    <a href="https://www.linkedin.com/" target="_blank" rel="noopener" aria-label="Linked - Opens in a new tab">
                        <img src="{% static 'images/linkedin_icon.png' %}" alt="LinkedIn Icon" class="social-icon"></a>
                    <a href="https://twitter.com/" target="_blank" rel="noopener" aria-label="Twitter - Opens in new tab">
                        <img src="{% static 'images/twitter_icon.png' %}" alt="Twitter Icon" class="social-icon" />
                    </a>
                
            </div>
            </div>
            <div class="col-12 col-md-6" id="info-container-elements">
                <h3 class="contact-heading text-center">Contact Form</h3>
                <div class="center-form">
                    <div id="footer">
                        
                        <p>Name: {{ latest_contact.name }}</p>
                        <p>Email: {{ latest_contact.email }}</p>
                        <p>Query: {{ latest_contact.query }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Social media icons-->
    <section class="container-fluid copyright" id="copyright-container">

        
        {% block copyright %}
            <p class="copyright-section text-center">&copy;2024 - Made by Nicole Rojas </p>
        {% endblock copyright %}
    

</section>
</footer>
  

