{% load static %}


<footer class="footer mt-auto py-3">
   
    <p class="m-0 text-center">Follow me: 
        <a target="_blank" href="https://www.linkedin.com/in/elvira-espinoza-ahumada-74a6a82a/?originalSubdomain=cl">
            <i class="fab fa-linkedin ms-3 green-icon"></i><span class="sr-only">LinkedIn</span></a>
        <a target="_blank" href="https://twitter.com/">
            <i class="fab fa-twitter ms-3 green-icon"></i><span class="sr-only">Twitter</span></a>
    </p>
    <p class="copyright m-0 text-center">
        {% block copyright %}
        &copy;2024 - Made by Nicole Rojas
        {% endblock copyright %}
    </p>
</footer>

