{% load static %}

<header>
  {% with request.resolver_match.url_name as url_name %}
  <nav class="navbar navbar-expand-lg navbar-light" id="navbarNav">
    <a class="navbar-brand {% if url_name == 'home' %}active{% endif %}" href="{% url 'home:home' %}">Elvira Espinoza Ahumada</a>
    <button class="navbar-toggler btn-custom" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon custom-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link {% if url_name == 'services' %}active{% endif %}" href="{% url 'services' %}">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if url_name == 'reviews' %}active{% endif %}" href="{% url 'reviews' %}">Reviews</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'booking_add' %}active{% endif %}" href="{% url 'booking_add' %}">Book an Appointment</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hi {{ user.username }}
            </a>
            
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item {% if url_name == 'bookings' %}active{% endif %}" href="{% url 'bookings' %}">Your bookings</a>
              <a class="dropdown-item {% if url_name == 'review_add' %}active{% endif %}" href="{% url 'review_add' %}">Add a Review</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
            </div>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'accounts_login' %}active{% endif %}" href="{% url 'booking_add' %}">Sign In</a>
          </li>
          
        {% endif %}
      </ul>
    </div>
  </nav>
  {% endwith %}
</header>